<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <h1>PRODUCTS</h1>
    <div th:switch="${products}">
        <h2 th:case="null">No products found!</h2>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Product name</th>
                    <th>Product price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form action="/products" method="post">
                Name: <input type="text" name="name"><br />
                Price: <input type="number" step="any" name="price"><br />
                <button type="submit">Add product</button>
            </form>
        </div>
    </div>
</body>
</html>